<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISocialAdService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IAuthService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:1414/WcfSecurity" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISocialAdService" contract="SaServicePrivate.ISocialAdService"
                name="WSHttpBinding_ISocialAdService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:1415/AuthBehaviour" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAuthService" contract="SaServicePublic.IAuthService"
                name="WSHttpBinding_IAuthService" />
        </client>
    </system.serviceModel>
</configuration>