#image {
    position: absolute;
    top: 5%;
    left: 60%;
    width: auto;
    height: auto;
    margin-top: -50px; /* Half the height */
    margin-left: -50px; /* Half the width */
}

/*.panel panel-primary {
    position: relative;
 
    display: flex;
    vertical-align: central;
    margin-top: 200px; /* Half the height */
   /* margin-left: 50px;
}*/

.panel panel-group {

    position: relative;
    display: inline;
   
    display: inline-grid;

}