@using MvcClient.AuthService;
@using MvcClient.Helpers;
@model MvcClient.AuthService.Ad

@{
    ViewBag.Title = "Ad";
}

@Html.Partial("AdPartial", Model);

@if (AuthHelper.IsLoggedIn())
{
    @Html.Partial("PostComment");
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>
