<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="StandardBehaviour" name="WcfServiceTier.SocialAdService">
        <endpoint address="WcfSecurity" binding="wsHttpBinding" bindingConfiguration="SecureBindingHttps"
          contract="WcfServiceTier.ISocialAdService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:1414" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="PublicBehaviour" name="WcfServiceTier.SocialAdServicePublic">
        <endpoint address="PublicBehaviour" binding="wsHttpBinding" bindingConfiguration="SecurePublicEndpoint"
          contract="WcfServiceTier.ISocialAdServicePublic" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:1415/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehaviour">
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="WcfServiceTier.MyRoleManager, WcfServiceTier" />
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceCredentials>
            <serviceCertificate x509FindType="FindByThumbprint" findValue="6BC5780DD7A7202D7AA6D4F97DC6B8A70D8A768D" storeName="My" storeLocation="LocalMachine" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WcfServiceTier.MyPasswordValidator, WcfServiceTier" />
          </serviceCredentials>
        </behavior>
        <behavior name="PublicBehaviour">
          <serviceCredentials>
            <serviceCertificate x509FindType="FindByThumbprint" findValue="6BC5780DD7A7202D7AA6D4F97DC6B8A70D8A768D" storeName="My" storeLocation="LocalMachine" />
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureBindingHttps">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="SecurePublicEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="DBContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Model.DBContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  -->
    <add name="DBContextLocal" connectionString="Server=.\SQLSERVER; Initial Catalog=Sas; Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="DBContext" connectionString="Server=kraka.ucn.dk; Database=dmai0916_200938; User Id=dmai0916_200938; Password=Password1!" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>